[build]
builder = "nixpacks"

[build.nixpacksPlan]
phases.install.cmds = ["npm ci --legacy-peer-deps"]
phases.build.cmds = ["npm run build", "npx prisma generate"]

[deploy]
startCommand = "npm run deploy && npm run start:prod"
healthcheckPath = "/api/v1/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
