[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/api/v1/health"
healthcheckTimeout = 300
startCommand = "node dist/main"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
