[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma migrate deploy && node dist/main"
healthcheckPath = "/api/v1/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
